.main-card{
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
    padding: 10px 35px;
    text-align: center;
  }