@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
html {
  height: 100%;
  padding: 0;
}

body {
  min-height: 100vh;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #BAE8F2;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(10px + 1vmin);
}
